/** @format */

.background {
	opacity: 1;
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	z-index: 0;
	background-image: url("../public/images/egipcio.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: inset 0 0 500px 50px black;
}

.container {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 20px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.title {
	color: #0303ce;
	text-shadow: 1px 1px 5px #fceb9cfd;
	font-size: 35px;
	z-index: 1;
	font-weight: 900;
}

.containerCategory {
	width: 100%;
	height: auto;
	perspective: 500px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

/******** SelectCategoryCard **********/

.cardOption {
	width: 100px;
	height: 150px;
	border-radius: 10px;
	background-color: #2e2e2d65;
	box-shadow: 0 0 3px 1px #fceb9cfd;
	box-sizing: border-box;
	transition: transform 1s ease;

	display: flex;
	justify-content: center;
	align-items: center;
	animation: moveCard 4s ease infinite;
}

@keyframes moveCard {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0px);
	}
}

.img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.img:hover {
	transform: scale(0.9);
}

.img:active {
	transform: scale(0.9);
}
